<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load logingApp_extras%}
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Companys</title>
  </head>
  <body>
    <div class="container mt-5" style="marign:auto">
      <a href="{% url 'logingApp:logout' %}" class="float-right btn btn-secondary btn-link" role="button">Logout</a>
      <h4 class="text-info">{{companySerializer.data.name}}</h4>
      <hr>
      <ul class="list-group">
        {%for it in factorysSerializer.data%}
          <li class="list-group-item">
            {{it.name}}
            <ol>
              {%for el in it.id|machines %}
                <li>{{el}}</li>
              {%endfor%}
            </ol>
          </li>
        {%endfor%}
      </ul>
	 </div>
 </body>
</html>
