<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Log in</title>
  </head>
  <body>
    <div class="container" style="marign:auto">
		<form method="POST">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Login!</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Login</button>
				<!--odkomentiraj pass reset kad ga opet napravis-->
				<small class="text-muted ml-2"><a href="{# url 'password_reset' #}">Zaboravili ste lozinku?</a></small>
			</div>
		</form>
	</div>
  </body>
</html>
