<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Log in</title>
  </head>
  <body>
    <div class="container">
        <h2>Uspjesno ste izasli iz korisnickog racuna!</h2>
        <div class="border-top pt-3">
          <small class="text-muted">
            <a href="{% url 'logingApp:login' %}">Ulogiraj se</a>
          </small>
        </div>
	</div>
  </body>
</html>
